#addGameTitle {
  font-size: calc(12px + 2vmin);
  color: white;
  position: relative;
  left: 50%;
  top: calc(8px + 4vmin);
  transform: translateX(-5%);
}

.gameEdit {
  display: grid;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: calc(5px + 4vmin);
  width: auto;
  height: auto;
  max-width: 40%;
}

.gameEdit > label {
  color: white;
  font-size: calc(12px + 1.2vmin);
  position: relative;
}

.gameEdit > input, select {
  color: white;
  background: rgba(5, 5, 5, 0.6);
  border: none;
  height: calc(18px + 2vmin);
  position: relative;
  font-size: calc(8px + 1vmin);
}

.gameEdit > textarea {
  color: white;
  background: rgba(5, 5, 5, 0.6);
  border: none;
  height: calc(200px + 10vmin);
  position: relative;
  font-size: calc(8px + 1vmin);
  outline: none;
  margin: 1vmin;
  margin-left: 0vmin;
}

.gameEditSubmit {
  transition: 0.1s;
  border: none;
  font-size: calc(12px + 1.2vmin);
  color: white;
  background: rgb(20, 20, 20);
  box-shadow: inset 0px 0px 6px 5px rgb(10, 10, 10);
  width: auto;
  height: auto;
  padding: calc(8px + 1vmin);
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: calc(30px + 3vmin);
  text-shadow: -4px 4px 6px black;
  outline: none;
}

.gameEditSubmit:hover {
  filter: brightness(1.25);
}

#dumbhack, #del input {
  width: 0px;
  height: 0px;
  font-size: 0px;
  position: absolute;
  z-index: -9999;
  top: -50px;
}

@media only screen and (max-width: 1100px) {
  .gameEdit > textarea {
    max-width: 600px;
  }
}

@media only screen and (max-width: 900px) {
  .gameEdit > textarea {
    max-width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .gameEdit > textarea {
    max-width: 225px;
  }
}