#mainHeader {
  width: 100%;
  height: calc(30px + 3vmin);
  background: rgb(5, 5, 5);
  position: absolute;
  left: 0vw;
  top: 0vw;
}

#mainHeader a {
  transition: 0.1s;
  color: white;
  font-size: calc(12px + 1vmin);
  position: absolute;
  left: calc(10px + 1vmin);
  top: calc(10px + 0.5vmin);
  text-shadow: calc(-2px + -0.1vmin) calc(2px + 0.1vmin) calc(4px + 0.1vmin) rgb(8, 8, 8);
  filter: brightness(0.75);
  white-space: nowrap;
}

#mainHeader a:hover {
  filter: brightness(1);
}

* {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

::-webkit-scrollbar {
  width: 6px !important; /* for vertical scrollbars */
  height: 6px !important; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: black !important;
  border-radius: 3px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #525252;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(34, 34, 34);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 20, 20);
}